<!DOCTYPE html>
<html>
<head>
    <title>Mushroom</title>
    <link rel="stylesheet" type="text/css" href="static\style.css">
</head>
<body>
    <header>
        <div class="main">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/Prediction">Prediction</a></li>
            </ul>
        </div>
        <div class="title" >
        <h1> Article  </h1>
        <br>
        <p>
            Mushrooms are fungi, not plants, which makes them distinct in the world of edible organisms.
            They come in a myriad of shapes, sizes, and colors, with popular varieties like button mushrooms, 
            shiitakes, portobellos, and oysters, among many others. While they're often categorized as vegetables,
            mushrooms are unique in their composition and nutritional profile.
        </p><br>
        <p>
            This Website Mushroom , can help you identify whether a mushroom is edible or not. 
            Please provide the infor mation about your mushroom such as  odor,gill-size,gill-color,
            stalk-shape,stalk-root,spore-print-color,population.
        </p> <br>
        <p>
            In this  website,we uses machine learning to identify mushrooms. 
            It has a database of over 8,124 mushroom species, and it can identify a mushroom with over 100% accuracy.
        </p> 
        <br>
        <p> Please click on Prediction 
        </p>

        </div>
    </header>
</body>
</html>